*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /*---colors---*/
  --golden: #f8da55 /*#f8da55*/;
  --card: radial-gradient(#fcedc3, #ffe7a3, #f5bc22);
  --black: #000000;
  --background: radial-gradient(
    hsl(12, 100%, 72%),
    hsl(12, 91%, 65%),
    #801616
  ); /*hsl(12, 100%, 72%); #801616*/
  --button: hsl(12, 66%, 47%);
  --shaddow: #0000007a;

  /*---sizes---*/
  --padding-head: 1rem;
  --padding-nav: 1em;
  --padding-main: 5%;
  --padding-card: 1em;
  --padding-tag: 0.5em;

  --border: 0.05em;

  --gap: 2em;
  --gap-tag: 1em;

  --radius-1: 10px;
  --radius-in-card: 5px;
}

body {
  margin: 0;
  font-family: system-ui;
}
