*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /*---colors---*/
  --golden: #f8da55;
  --card: #f5bc22;
  --black: #000000;
  --background: #801616;
  --shaddow: #0000007a;

  /*---sizes---*/
  --padding-head: 1rem;
  --padding-nav: 1em;
  --padding-main: 5%;
  --padding-card: 1em;
  --padding-tag: 0.5em;

  --border: 0.05em;

  --gap: 2em;
  --gap-tag: 1em;

  --radius-1: 10px;
  --radius-in-card: 5px;
}

body {
  margin: 0;
  font-family: system-ui;
}
