.my-header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.my-header__title {
  margin: 0;
  background: var(--cardgolden);
  padding: var(--padding-head);
  color: var(--background);
  text-align: center;
  text-decoration: dotted;
  /*text-shadow: var(--shaddow) 1px 0 10px;*/
  text-shadow: 2px 2px var(--shaddow);

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  box-shadow: 0px 0px 20px 0px var(--golden);
  /*border: var(--border) solid var(--button);*/
}
