.my-main {
  background: var(--background);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--padding-main);
  position: relative;
  margin-top: calc((2 * var(--padding-head)) + 1rem);
  bottom: calc((2 * var(--padding-nav)) + 1em);
}

.card {
  background: var(--card);
  padding: var(--padding-card);
  border-radius: var(--radius-1);
  box-shadow: 0px 0px 10px 0px var(--shaddow);
  display: flex;
  flex-direction: column;
}

.card__question {
  text-align: center;
  background: var(--golden);
  padding: var(--padding-card);
  border-radius: var(--radius-in-card);
}

.card__tags {
  display: flex;
  gap: var(--gap-tag);
}

.card__tag {
  background: var(--golden);
  padding: var(--padding-tag);
  border: var(--border) solid var(--background);
  border-radius: var(--radius-in-card);
}
