.my-main {
  background: var(--tag); /* white var(--background)*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  padding: var(--padding-main);
  position: relative;
  top: calc((2 * var(--padding-head)) + 2em);
  margin-bottom: calc((2 * var(--padding-nav)) + 6em);

  min-height: 100vh;
}

.card {
  position: relative;
  width: 85vw;
  height: fit-content;
  background: var(--card);
  padding: 1.5em var(--padding-card);
  border-radius: var(--radius-1);
  box-shadow: 0px 0px 10px 0px var(--shaddow);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  border: var(--border) solid var(--golden);
}

.card__question {
  margin: 0;
  text-align: center;
  font-size: 25px;
  background: var(--radial); /*(--golden)*/
  padding: var(--padding-card);
  border-radius: var(--radius-in-card);
  box-shadow: 0px 0px 10px 0px var(--shaddow);
  border: var(--border) solid var(--golden);
  width: 80vd;
}

.card__answer {
  /* display: none; */
  /* content-visibility: hidden; */
  text-align: center;
  background: none;
}

.card__answer--hide {
  display: none;
}

.card__show-answer {
  font-size: larger;
  width: 50%;
  background: var(--button);
  color: var(--golden);
  border-radius: var(--radius-1);
  padding: var(--padding-tag);
  box-shadow: 0px 0px 10px 0px var(--shaddow);
  border: var(--border) solid var(--golden);
  transition: 0.5s ease;
}

.card__show-answer:hover {
  background-color: var(--golden);
  color: var(--background);
}

.card__bookmark {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -10px;
  right: 10px;
  background-color: transparent;
  border: none;
}

.card__bookmark:hover {
  transform: rotate(-5deg);
}

.card__tags {
  font-size: smaller;
  display: flex;
  gap: var(--gap-tag);
  align-self: flex-start;
}

.card__tag {
  margin: 0;
  background: var(--tag);
  padding: var(--padding-tag);
  border: var(--border) solid var(--golden);
  border-radius: var(--radius-in-card);
  box-shadow: 0px 0px 10px 0px var(--shaddow);
}

@media (min-width: 900px) {
  .my-main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    width: 40vw;
  }
}
