.navbar__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background: var(--golden);
  padding: var(--padding-nav);
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: 0;
}

.navbar__item {
}

.navbar__icon {
  text-decoration: none;
  width: 100px;
}

.navbar__item--active {
  background: var(--background);
}
